/* App.css */
.app {
  text-align: center;
}

.pokemon-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.pokemon-card {
  margin: 10px;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 10px;
  width: 150px;
  text-align: center;
}

.pokemon-card img {
  width: 100px;
  height: 100px;
}
